<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Task perform today:</strong>
  <%= @task.task_perform_today %>
</p>

<p>
  <strong>Git link:</strong>
  <%= @task.git_link %>
</p>

<p>
  <strong>Jira link:</strong>
  <%= @task.jira_link %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @task.remarks %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'submit', tasks_path %>
